<p>
    
    Привіт , нарешті ми дочекались конференції і раді , що ти приїхав до нас 😀
    <br>
    {{#if user.stay.free}}
        <div style="margin-top:15px">Від нас ти отримав безкоштовне розміщення у сім’ї нашої церкви , тож вказуємо тобі всю необхідну інформацію нижче 👇🏻</div> 
        <br>
        <div style="margin-top:7px">
            Контактна особа : <b>{{user.stay.where.name}} | {{user.stay.where.phone}}</b> 
            <br>
            Адреса : <b>{{user.stay.where.address}}</b>
        </div>
    {{else}}
        <div style="margin-top:7px">
            Адреса : <b>{{user.stay.where.address}}</b>
        </div>
    {{/if}}
    
    <br>
    <div style="margin-top:7px">Якщо в тебе виникнуть питання щодо твого розміщення , ти можеш звернутись до дівчат на стійці реєстрації або написати нам в телеграм за номером +380 96 793 30 44 😊</div>
    <br>
    <div style="margin-top:7px">Бажаємо тобі приємного перебування в нашому місті та незабутньої молодіжної конференції  PROFOUND YOUTH CONF</div>    
</p>
